.compiler {
    height: 100%;
    width: 100%;
    background-color: rgb(226, 226, 226);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.iframe-compiler {
    width: 100%;
    height: 100%;
}

/* The button is centered initially */
.compile-button {
    padding: 20px 40px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background-color: #B61D1D;
    color: white;
    transition: background-color ease-in-out 0.15s, bottom 0.3s ease, right 0.3s ease;
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
}

.compile-button:hover {
    background-color: #8b1717;
}

/* When the iframe is active, the button moves to the bottom-right corner */
.compile-button.iframe-active {
    bottom: 25px;
    right: 20px;
    transform: translate(0, 0); /* Reset transform when moved */
}

.compile-button:disabled {
    cursor: not-allowed;
}

.compiling-message {
    font-size: 18px;
    margin-top: 10px;
    color: #ffffff;
    margin-left: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.hidden {
    display: none;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 45px;
    height: 30px;
    background:
      linear-gradient(#004ce4 0 0) 0 100%/100% 50%,
      linear-gradient(#004ce4 0 0) 0 0   /calc(100%/3) 100%;
    background-repeat: no-repeat;
    position: relative;
    clip-path: inset(-100% 0 0 0);
    animation: l2-0 2s infinite steps(4);
  }
  .loader::before,
  .loader::after {
    content: "";
    position: absolute;
    inset:-50% 0 50%;
    background:
      linear-gradient(#00e622 0 0) 0 0      /calc(2*100%/3) 50%,
      linear-gradient(#00e622 0 0) 100% 100%/calc(2*100%/3) 50%;
    background-repeat: no-repeat;
    animation: inherit;
    animation-name: l2-1;
  }
  .loader::after {
    inset:-100% 0 100%;
    background:
      linear-gradient(#e50021 0 0) 0    0/100%         50%,
      linear-gradient(#e50021 0 0) 100% 0/calc(100%/3) 100%;
    background-repeat: no-repeat; 
    animation-name: l2-2;
  }
  @keyframes l2-0{
    0%       {transform: translateY(-250%);clip-path: inset(100% 0 0 0)}
    25%,100% {transform: translateY(0);clip-path: inset(-100% 0 0 0)}
  }
  @keyframes l2-1{
    0% ,25%  {transform: translateY(-250%)}
    50%,100% {transform: translateY(0)}
  }
  @keyframes l2-2{
    0% ,50%  {transform: translateY(-250%)}
    75%,100% {transform: translateY(0)}
  }