body{
    background: #181818 ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
    height: 100vh;
    overflow: hidden;
}

.main-editor-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.resizable-container {
  display: flex;
  height: 100vh;
}

.editor-resizable {
  border-right: 2px solid #ccc;
  overflow: hidden;
  position: relative;
}

.main-editor-container {
  height: 100%;
}

.other-content {
  flex-grow: 1;
  background-color: rgb(226, 226, 226);
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-handle-right {
  width: 10px;
  background-color: #8f1919;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: ew-resize;
  z-index: 10;
}
